body {
    margin-bottom: 50px;
    margin-top: 50px;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    display: grid;
}

@media (width <= 587px) {
    .grid {
        grid-template-columns: none;
    }
}

@media (width <= 364px) {
    .button-container {
        display: flex;
        flex-direction: column;
    }

    .button.button-primary {
        margin-bottom: 5px;
    }
}

a.button {
    display: inline-block;
}

a.card-button {
    width: 85%;
}