@font-face {
    src: url("../font/minecraft.woff2") format('woff2'), url("../font/minecraft.woff") format('woff');
    font-family: minecraft;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

body {
    background-image: url("../img/web/background.jpg");
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    box-sizing: border-box;
    font-family: minecraft;
    text-align: center;
    color: #000;
}

.centerContainer {
    background-image: url("../img/web/forground.jpg");
    border: 3px solid green;
    border-radius: 0.25rem;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.buttonGroup {
    display: flex;
    justify-content: center;
}

.buttonGroup a {
    background-color: #75a743;
    border: 2px solid #468232;
    transition-duration: .5s;
    font-family: minecraft;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: #000;
}

.buttonGroup a:hover {
    background-color: #a8ca58;
}

img {
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}