body {
    background-color: #26292a;
    margin-bottom: 50px;
    margin-top: 50px;
}

.disabled {
    display: none;
}

.center {
    background-color: #26292a;
    justify-content: center;
    align-items: center;
	position: fixed;
    display: flex;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.loading-box {
    border: 5px solid #ffffff;
    border-radius: 5px;
    width: 425px;
    height: 25px;
}

.center.disabled {
    transition: all 1s;
	transform: translateX(101%);
}

.loading-bar {
    background-color: #ffffffff;
    animation: loading 1.5s;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
}

@keyframes loading {
    0% { width: 0%; }
	5% { width: 2%; }
	7% { width: 10%; }
	10% { width: 20%; }
	25% { width: 25%; }
	50% { width: 50%; }
	60% { width: 70%; }
	80% { width: 75%; }
	100% { width: 100%; }
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
}

.button {
    background-color: #594ed6;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 3px;
    color: #ffffff;
    padding: 6px;
}

.button:hover {
    filter: brightness(75%);
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    display: grid;
}

.box {
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 30vw;
}

@media (max-width: 500px){
    .box {
        width: auto;
    }
}

.box-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.box-description {
    color: #cccccccc;
    font-size: 15px;
}

.rounded {
    border-radius: 10px;
}

.background {
    background-color: #1e2122;
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
}