.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

body {
    overflow-x: hidden;
}

h1, h5 {
    text-align: center;
}

.search-img {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-img-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-img-search:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
    cursor: pointer;
}

.photo-grid-img-search {
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

@media screen and (min-width: 600px) {
    .card-tall-img-search {
        grid-row: span 2 / auto;
    }

    .card-wide-img-search {
        grid-column: span 2 / auto;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-screen {
    width: auto;
    height: 90vh;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
}

.topLeft {
    /* position: absolute; */
    height: 40px;
    width: 40px;
    /* left: 0; */
    /* top: 0; */
}

.exit-btn {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    border-radius: 15px;
    font-weight: bolder;
    background: #fff;
    cursor: pointer;
    margin: 0.5rem;
    color: #000;
}